
datos_mesas/.RData
datos_mesas/elecciones.csv.7z
datos_mesas/votacion.csv
datos_mesas/datos.csv
datos_mesas/datos_sinagrup
eco pol 2023/datos_mesas/.RData
eco pol 2023/datos_mesas/elecciones.csv.7z
eco pol 2023/datos_mesas/votacion.csv
eco pol 2023/datos_mesas/datos.rda
eco pol 2023/datos_mesas/elecciones.zip
